
.app-header{
  position:absolute;
  top:0;
  left:0;
  z-index:99;
  position:fixed;
  height:70px;

  width:100%;
  padding: 0px 30px;
  background-color: rgb(252,209,78);

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);



  img{
    transition:all .25s;
    width:138px;
    padding:0;
    margin:0;
  }

  .the-simpsons{
    img:hover{
      margin-top:-5px;
      margin-left:20px;
      width:150px;
    }
  }

  .homer {
    img:hover{
      margin-top:-5px;
      margin-left:-20px;
      width:150px;
    }
  }


  h1{
    font-family:'Knewave', cursive;
    font-size:2.25em;
    padding:0;
    margin:10px 0 0 0;
    font-size:1.45em;
    color:#444;
  }


  .logo-box{
    transition:all .25s;
    padding:0;
    margin: 0 20px;
  }

  .homer{
    margin-left:-30px;
  }

  .the-simpsons {
    margin-top:-10px;
  }
  .username{
    text-align:center;
    padding:10px;
  }




}
