body {
  margin-top:50px;
  background-color:#eee;
}

h1{
  font-weight:bold;
}

button {
  font-family:'Luckiest Guy', cursive;
  transition: all .25s
}

button:hover {
  background-color:#f6c945;
}

#wavesurfer {
  visibility: hidden;
}
